@page "/signup"
@model SignUpModel
@{
    ViewData["Title"] = "Sign up";
}

<style>
   .form-signup {
     max-width: 480px;
     padding: 1rem;
   }
</style>

<div class="m-auto form-signup">
    <h4 class="mb-4">@ViewData["Title"]</h4>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="mb-3">
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Input.Password">Password</label>
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">
            Sign up
        </button>
        <div class="mt-3">
            Already a member? <a asp-page="./SignIn">Sign in</a>
        </div>
        <div class="mt-3 d-flex justify-content-between">
            <hr class="flex-grow-1 mt-4"/>
            <div class="mx-2 my-2">Or</div>
            <hr class="flex-grow-1 mt-4"/>
        </div>
    </form>
</div>