@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    var statusMessageClass = !Model.Success ? "success" : "danger";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    @if(Model.Success)
    {
        @: Your email has not been confirmed. <a asp-page="./SignIn" asp-area="Auth">Sign in</a>
    }
    else
    {
        @: Error occurred confirming your email. Please try again later.
    }
</div>